.tasks {
  width: 40%;
  .tasks__task {
    outline: none;
    cursor: pointer;
    &:hover {
      background-color: #DDD;
    }
    h3 {
      font-size: 1.2em;
    }
    p {
      color: #777777;
      font-size: 1em;
    }
  }
  .action-btn {
    color: #000;
    &:hover {
        color: #3F51B5;
    }
  }
}