<h2>My Tasks</h2>
<task-search (changeSearchValue)="onChangeSearchValue($event)"></task-search>
<div>
  <md-input-container>
    <input mdInput placeholder="Add task" #taskName >
  </md-input-container>
  <button (click)="add(taskName.value); taskName.value=''" md-icon-button><md-icon>add</md-icon></button>
</div>
<md-list>
  <md-list-item
    class="tasks"
    *ngFor="let task of filterTasks"
    (click)="onSelect(task)"
    [class.selected]="task === selectedTask"
  >
    <span class="badge">{{task.id}}</span>
    <span>{{task.name}}</span>
    <span>{{task.date}}</span>
    <button md-icon-button (click)="delete(task); $event.stopPropagation()">
      <md-icon>delete</md-icon>
    </button>
  </md-list-item>
</md-list>
<div *ngIf="selectedTask">
  <h2>
    {{selectedTask.description}}
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>