.selected {
    background-color: #CFD8DC !important;
}

.tasks {
    width: 30%;
}

.task {
    cursor: pointer;
}

.task.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
}

.task:hover {
    background-color: #DDD;
}