.add-task-container {
  display: flex;
  align-items: center;
  .add-task-container__inputs {
    display: flex;
    width: 30%;
    .add-task-container__input {
      width: 50%;
    }
  }
  .add-task-container__add-btn {
    &:hover {
      color: #3F51B5;
    }
  }
  .add-task-container__add-btn {
    @extend .add-task-container__add-btn;
  }
}

.delete-btn {
  &:hover {
    color: #000;
  }
}
.tasks {
    width: 30%;
    .selected {
      background-color: #3F51B5;
      color: #fff;
    }
}

.task {
    cursor: pointer;
    &:hover {
      background-color: #DDD;
    }
    h3 {
      font-size: 1.2em;
    }
    p {
      font-size: 0.8em;
      color: #979797;
    }
}

.snackbar-styles {
  background-color: rgba(246, 206, 6, .5);
}

.hidden-input {
  display: none;
}