<h2>My Tasks</h2>
<task-search (changeSearchValue)="onChangeSearchValue($event)"></task-search>
<div class="add-task-container">
  <div class="add-task-container__inputs">
    <md-input-container class="add-task-container__input">
      <input mdInput placeholder="Task" #taskName >
    </md-input-container>
    <md-input-container class="add-task-container__input">
      <input mdInput placeholder="Description" #taskDescription >
    </md-input-container>
  </div>

  <md-input-container>
    <input mdInput [mdDatepicker]="picker">
    <button mdSuffix [mdDatepickerToggle]="picker"></button>
  </md-input-container>
  <md-datepicker #picker></md-datepicker>
  
  <button class="add-task-container__btn" (click)="add(taskName.value, taskDescription.value); taskName.value=''; taskDescription.value=''" md-icon-button>
    <md-icon>add</md-icon>
  </button>
</div>
<md-list class="tasks">
  <md-list-item
    class="task"
    *ngFor="let task of filterTasks"
    (click)="onSelect(task)"
    [class.selected]="task === selectedTask"
  >
    <h3 md-line>{{task.name}}</h3>
    <p md-line>
      created date
    </p>
    <button class="delete-btn" md-icon-button (click)="delete(task); $event.stopPropagation()">
      <md-icon>delete</md-icon>
    </button>
  </md-list-item>
</md-list>
<div *ngIf="selectedTask">
  <h2>
    {{selectedTask.description}}
  </h2>
  <button color="primary" md-raised-button (click)="gotoDetail()">
    View Details
  </button>
</div>