.tasks {
    width: 30%;
    .selected {
      background-color: #CFD8DC;
      &:hover {
        background-color: #BBD8DC;
      }
    }
}

.task {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    &:hover {
      background-color: #DDD;
    }
}