<div *ngIf="task">
  <h2>Task edit</h2>
  <div>
      <md-input-container class="add-task-container__input">
        <input mdInput placeholder="Task" [(ngModel)]="task.name" >
      </md-input-container>
      <md-input-container class="add-task-container__input">
        <input mdInput placeholder="Description" [(ngModel)]="task.description" >
      </md-input-container>
  </div>
  <button color="primary" (click)="save()" md-raised-button>
    Save
  </button>
  <button (click)="goBack()" md-button>
    Cancel
  </button>
</div>