.tasks {
	width: 40%;
	.tasks__task {
		cursor: pointer;
		&:hover {
			background-color: #DDD;
		}
		h3 {
			font-size: 1.2em;
		}
		p {
			color: #777777;
		}
	}
	.selected {
		background-color: #3F51B5;
		color: #fff;
		&:hover {
			background-color: #3F51B5;
		}
		.action-btn {
			&:hover {
				color: #fff;
			}
		}
		p {
			color: #C7C7C7;
		}
	}
	.action-btn {
		color: #000;
		&:hover {
			color: #3F51B5;
		}
	}
}